.password {
    width: 200px;
    font-size: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: -2px 2px 2px black;
    background-color: #2D2D2D;
    color: #EEEAE7;
    margin-right: 6px;
    margin-bottom: 10px;
}